:root {
    --background-color: #19180A;
    --secondary-background-color: #242210;
    --tertiary-background-color: #2B2A1F;
    --foreground-color: #F8EDEB;
    --alt-background: #A32525;
    --alt-background-hover: #C11B1B;
    --nav-font-size: 1.1rem;
    --nav-padding: 1vw;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--background-color);
    margin: 0;
    color: var(--foreground-color);
    width: clamp(20rem, 100%, 1920px);
    overflow-x: hidden;
    background-image: radial-gradient(ellipse at top, #031c55 0% , #0a1429 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

#icon {
    content: url('../chess/cburnett/wQ.svg');
    width: 2.5rem;
    height: 2.5rem;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

nav {
    background-color: rgba(0, 0, 0, 0.2);
    font-size: var(--nav-font-size);
    height: calc(var(--nav-font-size) * 3.5);
    width: 100vw;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: rgba(0, 0, 0, 0.1) 0.1rem solid;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

nav #nav-links {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-right: var(--nav-padding);
}

nav #nav-links #register {
    background-color: var(--alt-background);
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    color: var(--foreground-color);
}

nav #nav-links #login {
    background-color: var(--secondary-background-color);
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    color: var(--foreground-color);
}

nav #nav-links #register:hover {
    background-color: var(--alt-background-hover);
    color: #fff;
}

nav #nav-links #login:hover {
    background-color: var(--tertiary-background-color);
    color: #fff;
}

nav a {
    color: var(--foreground-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: calc(var(--nav-font-size) * 0.8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav a:hover {
    color: #fff;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

nav #title {
    display: flex;
    align-items: center;
    border: none;
    padding: 0;
    margin-left: var(--nav-padding);
    box-shadow: none;
}

nav #title #icon {
    margin-right: calc(var(--nav-font-size) * 0.3);
    width: calc(var(--nav-font-size) * 1.8);
    height: calc(var(--nav-font-size) * 1.8);
}

nav h1 {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin-top: 1rem;
}

main h1 {
    color: var(--foreground-color);
    text-align: center;
    font-size: min(max(60px,9.1vw),160px);
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.76px;
    height: 80vh;
    transform: translateY(10%);
    animation: floatDown 1.5s ease-in-out;
}

@keyframes floatDown {
    0% {
        opacity: 0%;
        text-shadow: none;
        transform: translateY(-20%);
    }
    100% {
        opacity: 100%;
        transform: translateY(10%);
    }
}

main .options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a#next {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    padding: 1rem 1rem;
    position: absolute;
    bottom: 5%;
    animation: showNext 3s ease-in-out;
    transition: all 0.3s ease-in-out;
    scroll-behavior: smooth; 
    width: 100%;
}

a#next i {
    font-size: 40px;
}

a#next:hover {
    color: rgba(255, 255, 255, 1);
    transition: all 0.3s ease-in-out;
}

a#next.hidden {
    opacity: 0%;
}

@keyframes showNext {
    0% {
        opacity: 0%;
        bottom: 80%;
    }
    90% {
        opacity: 0%;
    }
    95% {
        opacity: 50%;
    }
    100% {
        opacity: 100%;
        bottom: 5%;
    }
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    width: 100%;
    margin-top: 1rem;
}

section > * {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    padding: 1rem;
}


