<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>NK Chess Home</title>
</head>

<body>
    {{ template "header.html" . }}
    {{ if .username }}
    <h1>Hello, {{ .username }}!</h1>
    {{ else }}
    <h1>
        Welcome to NK Chess!
    </h1>
    <h3>
        Please log in or sign up to play.
    </h3>
    {{ end }}
    <h2>Live Games:</h2>
    <div id="game-list">
        <div class="empty"></div>
    </div>
    <div class="history">
        <div>
            <h2>Game History:</h2>
            <i class="material-symbols-outlined dropdown">arrow_drop_down</i>
        </div>
        <div class="disabled">
            <h3>Settings:</h3>
            <h4>Pre-loading: </h4>
            <div class="radio-container">
                <span>Load a maximum of </span>
                <div class="tabs">
                    <input type="radio" id="radio-1" name="tabs">
                    <label class="tab" for="radio-1">10</label>
                    <input type="radio" id="radio-2" name="tabs">
                    <label class="tab" for="radio-2">25</label>
                    <input type="radio" id="radio-3" name="tabs">
                    <label class="tab" for="radio-3">50</label>
                    <input type="radio" id="radio-4" name="tabs" checked>
                    <label class="tab" for="radio-4">100</label>
                    <span class="glider"></span>
                </div>
                <span> games each session</span>
            </div>
            <h4>Filter: </h4>
            <div class="switch-container">
                <label class="switch">
                    <input type="checkbox" checked>
                    <span class="slider"></span>
                </label>
                <span>Show only games featuring yourself</span>
            </div>
            <div>
                <button id="refresh">Refresh</button>
            </div> 
        </div>         
    </div>
    <div id="game-history">
        <div id="game-history-list">
            <div>
                <div class="time-control">Time</div>
                <div class="players">Players</div>
                <div class="reason">End</div>
                <div class="date">Date</div>
            </div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div class="paginator">
                <button><i class="material-symbols-outlined">arrow_back</i></button>
                <button><i class="material-symbols-outlined">arrow_forward</i></button>
            </div>
        </div>
        <div id="game-preview">
            <div id="preview-board">
                <div id="board-container">
                    <div id="board">
                        <div notation="a8" class="square">
                            <span class="left-notation dark">8</span>
                            <img src=<%=require("../chess/cburnett/bR.svg")%>>
                        </div>
                        <div notation="b8" class="square dark">
                            <img src=<%=require("../chess/cburnett/bN.svg")%>>
                        </div>
                        <div notation="c8" class="square">
                            <img src=<%=require("../chess/cburnett/bB.svg")%>>
                        </div>
                        <div notation="d8" class="square dark">
                            <img src=<%=require("../chess/cburnett/bQ.svg")%>>
                        </div>
                        <div notation="e8" class="square">
                            <img src=<%=require("../chess/cburnett/bK.svg")%>>
                        </div>
                        <div notation="f8" class="square dark">
                            <img src=<%=require("../chess/cburnett/bB.svg")%>>
                        </div>
                        <div notation="g8" class="square">
                            <img src=<%=require("../chess/cburnett/bN.svg")%>>
                        </div>
                        <div notation="h8" class="square dark">
                            <img src=<%=require("../chess/cburnett/bR.svg")%>>
                        </div>
                        <div notation="a7" class="square dark">
                            <span class="left-notation light">7</span>
                            <img src=<%=require("../chess/cburnett/bP.svg")%>>
                        </div>
                        <div notation="b7" class="square">
                            <img src=<%=require("../chess/cburnett/bP.svg")%>>
                        </div>
                        <div notation="c7" class="square dark">
                            <img src=<%=require("../chess/cburnett/bP.svg")%>>
                        </div>
                        <div notation="d7" class="square">
                            <img src=<%=require("../chess/cburnett/bP.svg")%>>
                        </div>
                        <div notation="e7" class="square dark">
                            <img src=<%=require("../chess/cburnett/bP.svg")%>>
                        </div>
                        <div notation="f7" class="square">
                            <img src=<%=require("../chess/cburnett/bP.svg")%>>
                        </div>
                        <div notation="g7" class="square dark">
                            <img src=<%=require("../chess/cburnett/bP.svg")%>>
                        </div>
                        <div notation="h7" class="square">
                            <img src=<%=require("../chess/cburnett/bP.svg")%>>
                        </div>
                        <div notation="a6" class="square">
                            <span class="left-notation dark">6</span>
                        </div>
                        <div notation="b6" class="square dark"></div>
                        <div notation="c6" class="square"></div>
                        <div notation="d6" class="square dark"></div>
                        <div notation="e6" class="square"></div>
                        <div notation="f6" class="square dark"></div>
                        <div notation="g6" class="square"></div>
                        <div notation="h6" class="square dark"></div>
                        <div notation="a5" class="square dark">
                            <span class="left-notation light">5</span>
                        </div>
                        <div notation="b5" class="square"></div>
                        <div notation="c5" class="square dark"></div>
                        <div notation="d5" class="square"></div>
                        <div notation="e5" class="square dark"></div>
                        <div notation="f5" class="square"></div>
                        <div notation="g5" class="square dark"></div>
                        <div notation="h5" class="square"></div>
                        <div notation="a4" class="square"><span class="left-notation dark">4</span></div>
                        <div notation="b4" class="square dark"></div>
                        <div notation="c4" class="square"></div>
                        <div notation="d4" class="square dark"></div>
                        <div notation="e4" class="square"></div>
                        <div notation="f4" class="square dark"></div>
                        <div notation="g4" class="square"></div>
                        <div notation="h4" class="square dark"></div>
                        <div notation="a3" class="square dark"><span class="left-notation light">3</span></div>
                        <div notation="b3" class="square"></div>
                        <div notation="c3" class="square dark"></div>
                        <div notation="d3" class="square"></div>
                        <div notation="e3" class="square dark"></div>
                        <div notation="f3" class="square"></div>
                        <div notation="g3" class="square dark"></div>
                        <div notation="h3" class="square"></div>
                        <div notation="a2" class="square">
                            <span class="left-notation dark">2</span>
                            <img src=<%=require("../chess/cburnett/wP.svg")%>>
                        </div>
                        <div notation="b2" class="square dark">
                            <img src=<%=require("../chess/cburnett/wP.svg")%>>
                        </div>
                        <div notation="c2" class="square">
                            <img src=<%=require("../chess/cburnett/wP.svg")%>>
                        </div>
                        <div notation="d2" class="square dark">
                            <img src=<%=require("../chess/cburnett/wP.svg")%>>
                        </div>
                        <div notation="e2" class="square">
                            <img src=<%=require("../chess/cburnett/wP.svg")%>>
                        </div>
                        <div notation="f2" class="square dark">
                            <img src=<%=require("../chess/cburnett/wP.svg")%>>
                        </div>
                        <div notation="g2" class="square">
                            <img src=<%=require("../chess/cburnett/wP.svg")%>>
                        </div>
                        <div notation="h2" class="square dark">
                            <img src=<%=require("../chess/cburnett/wP.svg")%>>
                        </div>
                        <div notation="a1" class="square dark">
                            <span class="bottom-notation light">a</span>
                            <span class="left-notation light">1</span>
                            <img src=<%=require("../chess/cburnett/wR.svg")%>>
                        </div>
                        <div notation="b1" class="square">
                            <span class="bottom-notation dark">b</span>
                            <img src=<%=require("../chess/cburnett/wN.svg")%>>
                        </div>
                        <div notation="c1" class="square dark">
                            <span class="bottom-notation light">c</span>
                            <img src=<%=require("../chess/cburnett/wB.svg")%>>
                        </div>
                        <div notation="d1" class="square">
                            <span class="bottom-notation dark">d</span>
                            <img src=<%=require("../chess/cburnett/wQ.svg")%>>
                        </div>
                        <div notation="e1" class="square dark">
                            <span class="bottom-notation light">e</span>
                            <img src=<%=require("../chess/cburnett/wK.svg")%>>
                        </div>
                        <div notation="f1" class="square">
                            <span class="bottom-notation dark">f</span>
                            <img src=<%=require("../chess/cburnett/wB.svg")%>>
                        </div>
                        <div notation="g1" class="square dark">
                            <span class="bottom-notation light">g</span>
                            <img src=<%=require("../chess/cburnett/wN.svg")%>>
                        </div>
                        <div notation="h1" class="square">
                            <span class="bottom-notation dark">h</span>
                            <img src=<%=require("../chess/cburnett/wR.svg")%>>
                        </div>
                    </div>
                    <svg id="svg-canvas" height="0" width="0" viewBox="0 0 0 0"></svg>
                </div>
            </div>
        </div>
    </div>
    <dialog>
        <h3>Create a new game: </h3>
        <br>
        <h4>Length of Game</h4>
        <label for="length">Length of Game (in seconds):</label>
        <input type="range" id="length" name="length" min="15" max="3600" value="300">
        <span id="length-span">300</span>
        <br>
        <h4>Time Increment</h4>
        <label for="increment">Time Increment (in seconds):</label>
        <input type="range" id="increment" name="increment" min="0" max="10" value="0">
        <span id="increment-span">0</span>
        <br>
        <h4>Color</h4>
        <input type="checkbox" id="white" name="color" value="white" checked>
        <label for="white">White</label>
        <br>
        <h4>Starting FEN</h4>
        <label for="fen">Starting FEN:</label>
        <input type="text" id="fen" name="fen" value="">
        <br>
        <button id="create-final">Create Game</button>
    </dialog>
    {{ template "footer.html" . }}
</body>

</html>