:root {
    --background-color: #0f0f0f;
    --secondary-background-color: #1b1b1b;
    --tertiary-background-color: #1f1f1f;
    --foreground-color: #F8EDEB;
    --alt-background: #A32525;
    --alt-background-hover: #C11B1B;
    --nav-font-size: 1.1rem;
    --nav-padding: 1vw;
    --board-size: unset !important;
    --game-list-padding: 0.5rem;
}

body {
    margin: 0;
    background-color: var(--background-color);
}

h1, h2 {
    text-align: center;
}

h2.history {
    margin: 8rem 0 4rem 0;
}

* {
    color: var(--foreground-color)
}

#game-list > .empty, #no-games {
    height: 350px;
}

#game-list > a, #game-list > button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--game-list-padding);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    text-decoration: none;
    max-width: 640px;
    border-radius: 4px;
}

#game-list > button {
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    background-color: var(--tertiary-background-color);
    margin: var(--game-list-padding);
    margin-top: calc(var(--game-list-padding) + 15px);
    aspect-ratio: 1/1;
    opacity: 80%;
    border: none;
}

#game-list > button > i {
    font-size: 4rem;
    line-height: unset;
}

#game-list > button:hover {
    opacity: 100%;

}

#game-list > a > div:first-child, #game-list > a > div:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#game-list > a > div:first-child {
    margin-top: calc(var(--game-list-padding) * -1);
}

#game-list > a > div:last-child {
    margin-bottom: calc(var(--game-list-padding) * -1);
}

#whiteTimer, #blackTimer {
    width: fit-content;
    padding-right: 0;
    border-radius: 0.5rem;
    color: var(--foreground-color);
    font-weight: bold;
}

#game-list > a > #board-container {
    pointer-events: none;
}

#game-list > a > #board-container > #board > .square > span {
    display: none;
}

#game-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

#game-history {
    display: flex;
    align-items: center;
    margin: auto;
    width: 90%;
    max-width: 1920px;
    gap: 4rem;
}

#game-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    width: 200lvh;
}

#game-history-list {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    width: 100%;
    margin: 0 auto;
}

#game-history-list > .paginator {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#game-history-list > .paginator > button {
    all: unset;
    background-color: var(--alt-background);
    color: var(--foreground-color);
    text-decoration: none;
    border-radius: 0.25rem;
    font-size: calc(var(--nav-font-size) * 0.8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

#game-history-list > .paginator > button:hover {
    color: #fff;
    background-color: var(--alt-background-hover);
}

#game-history-list > a, #game-history-list > div {
    display: grid;
    grid-template-columns: minmax(50px, 1fr) minmax(50px, 200px) minmax(50px, 1fr) minmax(50px, 1fr);
    text-decoration: none;
    padding: var(--game-list-padding) 0 var(--game-list-padding) 0;
    border: var(--background-color) 1px solid;
    background-color: var(--tertiary-background-color);
    border-radius: 4px;
    align-items: center;
}

#game-history-list > div {
    font-weight: bold;
}

#game-history-list > div:not(#game-history-list > div:first-child, #game-history-list > div:last-child) {
    height: 3.8rem;
}

#game-history-list > * > .time-control,
#game-history-list > * > .reason,
#game-history-list > div > .players,
#game-history-list > * > .date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

#game-history-list > a > .reason > div {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
}

#game-history-list > a > .players {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: left;
}

#game-history-list > a > .players > * {
    display: flex;
    gap: 8px;
}

#game-history-list > a > .players > * > div:last-child {
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#game-history-list > a > .players > * > .side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.2rem;
    height: 1.2rem;
    padding: 0.7rem;
    border-radius: 0.5rem;
    box-sizing: border-box;   
    border: #888 2px solid;
    flex-grow: 0; 
}

#game-history-list > a > .players > * > .side > .winner {
    font-weight: 600;
    font-size: 1.3rem;
}

.white-player > .side {
    background-color: var(--foreground-color);
}

.black-player > .side {
    background-color: var(--tertiary-background-color);
}

.white-player > .side > .winner {
    color: var(--tertiary-background-color);
}

.black-player > .side > .winner {
    color: var(--foreground-color);
}

#game-history-list > a > .date {
    width: 100%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
}

#game-preview > #preview-board {
    width: 100%;
}

@media screen and (max-width: 1200px) {
    #game-history {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #game-history-list {
        width: 800px;
    }
    #game-preview {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    #game-history-list > a > .reason > div:last-child{
        display: none;
    }
}

.preview-players {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    color: whitesmoke;
    font-weight: bold;
    margin-bottom: 1rem;
}

.preview-players > .blackUser {
    background-color: black;
    color: whitesmoke;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.preview-players > .whiteUser {
    background-color: whitesmoke;
    color: black;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

#no-games {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#no-games button {
    all: unset;
    background-color: var(--alt-background);
    color: var(--foreground-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: calc(var(--nav-font-size) * 0.8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

#no-games button:hover {
    color: #fff;
    background-color: var(--alt-background-hover);
}

.large-emoji {
    font-size: 10rem;
}